{% extends 'base.html.twig' %}

{% block title %}O'potager | Liste des utilisateurs
{% endblock %}

{% block titlePage %}Liste des utilisateurs
{% endblock %}

{% block usersActive %}active-page
{% endblock %}

{% block body %}
	<section class="list">
		<div class="action__add">
			<a class="actions__link" href="{{ path('app_back_user_new') }}">
				{{ include('fragments/_button.html.twig', {'button_label' : 'Ajouter un utilisateur', 'action': 'add'}) }}
			</a>
		</div>

		<table id="userTable" class="table">
			<thead>
				<tr class="list__header">
					<th>ID</th>
					<th>Nom d'utilisateur</th>
					<th>Email</th>
					<th>Roles</th>
					<th class="list__header__items">Crée le</th>
					<th class="list__header__items">Mise à jour le</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr class="list__content">
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.email }}</td>
						<td>{% set break = false %}
							{% for role in user.roles %}
								{% if role == "ROLE_ADMIN" %}
									Administrateur
									{% set break = true %}
								{% endif %}
								{% if not break %}
									Utilisateur
								{% endif %}
							{% endfor %}
						</td>
						<td>{{ user.createdAt ? user.createdAt|date('d-m-Y') : '' }}</td>
						<td>{{ user.updatedAt ? user.updatedAt|date('d-m-Y') : '' }}</td>
						<td>
							<a class="list__content__icon" href="{{ path('app_back_user_show', {'id': user.id}) }}">
								<i class="bi bi-eye-fill list__content__icon--eye"></i>
							</a>
							<a class="list__content__icon" href="{{ path('app_back_user_edit', {'id': user.id}) }}">
								<i class="bi bi-pencil-square list__content__icon--pencil"></i>
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="10">Pas d'enregistrement</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>

{% endblock %}
