{% extends 'base.html.twig' %}

{% block title %}O'Potager | Modification du jardin de
	{{ garden.user.username }}
{% endblock %}

{% block titlePage %}Modification du jardin de
	{{ garden.user.username }}
{% endblock %}

{% block gardensActive %}active-page
{% endblock %}

{% block body %}
	{{ include('back/garden/_form.html.twig', {'button_label': 'Valider les modifications'}) }}

	<div class="actions__edit">
		<a class="actions__link" href="{{ path('app_back_garden_show', {'id': garden.id}) }}">
			{{ include('fragments/_button.html.twig', {'button_label' : 'Retour au jardin', 'action': ''}) }}
		</a>
	</div>
{% endblock %}
